* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.profile {
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px #ccc;
    animation: fadeIn 1s ease;
    transition: transform 0.3s;
}

.profile img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.4s;
}

.grayscale {
    filter: grayscale(100%);
}

.sepia {
    filter: sepia(100%);
}

.profile:hover {
    transform: translateY(-10px);
}

.profile:hover img {
    filter: none;
}

@keyframes fadeIn {

    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 800px) {

    .profiles {
        flex-direction: column;
        align-items: center;
    }
}