* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.cheat-sheet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.box {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px #ccc;
}

@media (min-width: 1000px) {

    .cheat-sheet {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {

    .cheat-sheet {
        grid-template-columns: 1fr;
    }

    .box {
        text-align: left;
    }
}